* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: large;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

.calculatorContainer {
    margin: 20vh auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50vh;
    border: solid black 1px;
    background-color: black;
    width: 300px;
    box-shadow: 5px 5px 15px 5px #000000;
}

.displayContainer {
    height: 20%;
    border-bottom: solid #494949 1px;
}

.display {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 5px;
    padding-right: 15px;
    font-size: xx-large;
}

.inputsContainer {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

.inputRow {
    display: flex;
    justify-content: space-evenly;
    height: 20%;
}

.input {
    border: solid black 1px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.gray {
    background-color:  #494949;
}

.lightGray {
    background-color: gray;
    color: black;
}

.darkGray {
    background-color: #343434;
}

.green {
    background-color: #08C985;
}